input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: black;
  /* background-color: #dff0d8; */
  border: 1px solid #d6e9c6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  /* color: #b94a48; */
  /* background-color: #f2dede; */
  border: 1px solid #eed3d7;
}
#login input.parsley-error,
#login select.parsley-error,
#login textarea.parsley-error {
  background-color: #f2dede;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #800000;

  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
